@use "../../styles/variables.scss" as *;

.contact {
  @include flex(flex-start, center);
  flex-direction: column;
  height: 100vh;
  padding-top: $navbar-height;

  .contact-container {
    @include flex(center, center);
    flex-direction: column;
    width: 100%;
    min-height: 60vh;
  }

  .contact-grid {
    @include flex(center, center);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, max(6vw, 100px));
    gap: 1vw 3vw;
    padding: 0;

    .logo-item {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      list-style: none;
    }

    .logo-item.secondary {
      opacity: 0.55;
      transform: scale(0.72);
    }

    .logo {
      width: 100%;
      height: 100%;
      fill: $text2;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: translateY(-10px);
        cursor: pointer;
        fill: $primary;
      }
    }
  }

  .name-container {
    @include flex(center, center);
    width: 100%;
    height: 10vh;

    .name-text {
      font-family: "Sora", sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      transition: all 0.2s ease-in-out;
      animation: fadeIn 1s ease-in-out;
    }
  }

  @media only screen and (max-width: 850px) {
    @include flex(center, center);

    .contact-grid {
      @include flex(center, center);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 3rem 0;
      margin-top: 2rem;
      width: 350px;
      max-width: 350px;

      .logo-item {
        width: 4rem;
        height: 4rem;
      }

      .logo {
        width: 4rem;
        height: 4rem;
        fill: $text;
        margin: 0 auto;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}
