@use "sass:color";

$navbar-height: 5rem;
$floating-height: 7rem;
$nav-breakpoint: 700px;
$home-breakpoint: 650px;
$about-breakpoint: 1000px;

$primary: #16ffd8;
$purple: #8980f5;
$purple-100: color.adjust($purple, $lightness: 10%);
$red: #ff7979;
$red-100: color.adjust($red, $lightness: 10%);

$background: hsl(212, 31%, 10%);
$background-100: rgba(39, 43, 53, 0.76);
$nav-background: hsl(212, 31%, 10%);
$background2: #2c3950;
$text: #d4ddf8;
$text2: #cad1e8;

@mixin flex($justify-content, $align-items) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}
