@use "../../styles/variables.scss" as *;

.footer {
  @include flex(center, center);
  width: 100%;
  min-height: 5rem;
  margin-top: auto;
  padding: 1rem;
  font-family: "Sora", sans-serif;

  .text {
    color: $primary;
    font-size: 0.9rem;
    font-weight: 300;

    .name {
      font-weight: 600;
    }
  }

  @media only screen and (max-width: $nav-breakpoint) {
    text-align: center;
  }
}
