@use "../styles/variables.scss" as *;

.nav {
  @include flex(space-between, center);
  width: 100%;
  height: $navbar-height;
  position: fixed;
  background: $nav-background;
  padding: 0 2rem 0 1rem;
  // box-shadow: rgba(202, 209, 232, 0.26) 0px 1px 1px 0px;
  opacity: 1;
  z-index: 10;

  .img-link {
    width: 3.5rem;
    height: 3.5rem;
    display: block;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }

  .nav-logo {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }

  .links {
    @include flex(flex-end, center);
  }

  @media only screen and (max-width: $nav-breakpoint) {
    padding: 0 1rem;
  }

  @media only screen and (max-width: 480px) {
    padding: 0 0.5rem;

    .navigation-link {
      margin: 0 0.45rem;
      font-size: 0.8rem;
    }
  }
}
