@use "../../styles/variables.scss" as *;

.main-projects {
  @include flex(flex-start, center);
  @include content-container;
  @include section-spacing;
  flex-direction: column;
  min-height: 100svh;

  .projects-list {
    @include flex(center, center);
    flex-direction: column;
    width: 100%;
  }

  .more-projects-action {
    @include action-button;
    @include action-button-secondary;
    margin: 1rem auto;
  }
}
